body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    text-align: center;
    padding: 3px;
}

h1 {
    color: #eee;
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin: 20px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#rex-bio, #trex, #rex-list {
    float: left;
}

#trex {
    width: 200px;
    height: 200px;
    margin: 20px;
}

#main-bio{
    width: 70%;
}

a {
    color: #d21034;
}